<div class="profile_info">   
    
    <div class="image">
        <img [src]="'http://localhost:5239/' + currentUser.profilePhotoUrl" alt="{{ currentUser.name }}"> 
        <p>{{ currentUser.employeName }}</p>
    </div>
    <div class="infos">
        <div class="poste">
            <h5>Poste :</h5>
            <p>{{ currentUser.post }}</p>
        </div>
        <div class="email">
            <h5>Email :</h5>
            <p> {{ currentUser.email }}</p>
        </div>
        <div class="phone">
            <h5>Telephone :</h5>
            <p> {{ currentUser.phone }}</p>

        </div>
        <div class="adress">
            <h5>Adress :</h5>
            <p>{{ currentUser.place }}</p>
        </div>
        <div class="description">
            <h5>Description :</h5>
            <p> {{ currentUser.description }}</p>
        </div>
        <div class="buttons">
        <button style="background-color: green;" routerLink="/editProfile">Modifier Profile</button>
        <button style="background-color: rgb(90, 88, 88);" (click)="logout()">Déconnexion</button>
    </div>
    </div>
</div>