.profile_info {
    margin-top: 2%;
    width: 86%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2%;
}
.image {
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.523);
    height: 150px;

}
img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .infos {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.523);
    padding: 10px;
    background-color: #f0fdf7;
  }

.buttons {
  margin-left: 60%;
  display: grid;
  width: 40%;
  grid-template-columns: auto auto;
}
button {
    margin-left: 10%;
    border: none;
    padding: 5px;
    font-weight: 200;
    cursor: pointer;
  }