<div class="profile_info">
    <div class="image">
        <img src="eyaslimen.jpg" alt="">
        <p>username</p>
    </div>
    <div class="infos">
        <div class="poste">
            <h5>Poste :</h5>
            <p>Ingénieure</p>
        </div>
        <div class="email">
            <h5>Email :</h5>
            <p>aya&#64;gmail.com</p>
        </div>
        <div class="phone">
            <h5>Telephone :</h5>
            <p>24923967</p>
        </div>
        <div class="adress">
            <h5>Adresse :</h5>
            <p>Tunis</p>
        </div>
        <div class="description">
            <h5>Description :</h5>
            <p>je suis une ingénieure d'informatique , spécialisée dans le domaine de développement web , je suis une jeune motivé et serieuse</p>
        </div>
        <button>Modifier Profile</button>
    </div>
</div>