<div class="pg-footer">
    <footer class="footer">
      <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
      </svg>
      <div class="footer">
        <h1 style="text-align: center;">MultiServices</h1>
        <div class="info">
        <div class="Adress">
        <h4><i class="fas fa-map-marker-alt" style="margin-right: 20px;"></i>Adress</h4>
        <p>Sfax , Rue XXX </p>
        <p>Tunis , XXX</p>
        </div>
        <div class="Adress">
            <h4><i class="fas fa-phone" style="margin-right: 20px;"></i>Phone</h4>
            <p>+216 xxx xxx xxx </p>
            <p>+216 xxx xxx xxx </p>
            </div>
        <div class="contact">
            <h2>Follow Us on</h2> <br>
            <div class="social_media">
                <button><i class="fab fa-linkedin-in"></i></button>
                <button><i class="fab fa-facebook-f"></i></button>
                <button><i class="fab fa-instagram"></i></button>
                <button><i class="fab fa-twitter"></i></button>
            </div> <br>
        </div>
        </div></div>
    </footer></div>