<div class="welc">
  <div class="text">
    <h1>Besoin d'assistance ? </h1> 
    <p > Nous sommes là pour vous aider à résoudre vos problèmes et répondre à toutes vos questions rapidement et efficacement</p>
  </div>
  <img src="question.jpg" alt="">
</div>
<!-- help -->
<div class="pg-help">
  <div class="help">
    <svg class="help-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
      <path class="help-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
    </svg>
    
  <!-- FAQ -->
<div class="container">
  <h2>Foire Aux Questions</h2>
  <div class="accordion">
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Comment puis-je rechercher un service spécifique ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Vous pouvez utiliser la barre de recherche en haut de la page pour écrire ce dont vous avez besoin, par exemple "nettoyage de maison" ou "électricien". Les employés correspondant à votre demande seront affichés en fonction de la description de leur profil.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Comment puis-je contacter un employé ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Chaque profil d'employé contient ses coordonnées, comme un numéro de téléphone et une adresse e-mail. Vous pouvez les contacter directement en utilisant ces informations.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title"> Puis-je laisser un avis sur un employé ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Oui, vous pouvez laisser un avis sur le profil d’un employé après avoir utilisé ses services. Vous devez simplement fournir votre nom et votre avis dans la section dédiée des avis sur son profil.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title"> Que faire si je ne trouve pas le service que je recherche ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Si vous ne trouvez pas le service que vous recherchez, vous pouvez essayer d'élargir votre recherche avec d'autres mots-clés. Vous pouvez également nous contacter pour obtenir des recommandations personnalisées.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Quels types de services sont disponibles sur la plateforme ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Notre plateforme couvre une large gamme de services, tels que le nettoyage, la plomberie, l'électricité, la garde d'enfants, et bien d'autres encore. Vous pouvez parcourir les catégories pour découvrir tous les services disponibles.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Comment sont évalués les employés sur la plateforme ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Les employés sont évalués par les utilisateurs via des avis et des commentaires laissés après chaque prestation de service. Vous pouvez consulter ces avis pour vous aider à choisir l’employé qui correspond à vos besoins.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Comment puis-je voir les services d’un employé avant de le contacter ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Chaque employé dispose d'une page de profil où vous pouvez voir une description de ses services, ses compétences, ainsi que des photos, vidéos et avis laissés par d'autres utilisateurs.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Comment signaler un employé ou un service ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Si vous rencontrez un problème avec un employé ou que vous estimez qu’un service est inapproprié, vous pouvez nous le signaler via la section "Contactez-nous". Veuillez fournir autant de détails que possible pour que nous puissions enquêter.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Comment puis-je ajouter des photos et des vidéos à mon profil d'employé ?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Connectez-vous à votre compte et accédez à la section "Mon profil". Vous y trouverez des options pour ajouter ou supprimer des photos et vidéos afin de mieux présenter vos services.        </p>
      </div>
    </div>
  </div>
  <!-- fin FAQ -->
</div>
  </div></div>
<div class="sendMessage">
  <div class="text2">
    <h1>Avez-vous une Question ?</h1>
    <label for="Email">Email :</label>
    <input type="email" id="Email">
    <label for="question">Question :</label>
    <input type="text" id="question">
    <button>Envoyer</button>
</div>
  <img src="file2.png" alt="">
</div>
<app-footer></app-footer>