<div class="services">
    <h1>Les services poplulaires</h1>
<div class="ligne">
    <div class="service_card">
        <div>
            <div class="image" style="background-color: rgba(2, 2, 158, 0.712);">
            <img src="technology.png" alt="">
        </div>
        </div>
        <h3>Technologie</h3>
    </div>
    <div class="service_card">
        <div>
            <div class="image" style="background-color:rgba(234, 227, 24, 0.61)">
            <img src="teachings.png" alt="">
        </div>
        </div>
        <h3>Education</h3>
    </div>
    <div class="service_card">
        <div>
            <div class="image" style="background-color:rgb(6, 138, 81)">
            <img src="jardinier.png" alt="">
        </div>
        </div>
        <h3>Jardinage</h3>
    </div>
    <div class="service_card">
        <div>
            <div class="image" style="background-color: rgba(246, 30, 192, 0.336);">
            <img src="sante.png" alt="">
        </div>
        </div>
        <h3>Santé</h3>
    </div>
</div>   
 <br> <br>
<div class="ligne">
    <div class="service_card">
        <div>
            <div class="image" style="background-color: rgba(255, 140, 0, 0.753);">
            <img src="furbishing.png" alt="">
        </div>
        </div>
        <h3>Décoration</h3>
    </div>
    <div class="service_card">
        <div>
            <div class="image" style="background-color: rgba(183, 70, 70, 0.884);"><img src="mechanic.png" alt="">
            </div>
            </div>
        <h3>Mécanique</h3>
    </div>
    <div class="service_card">
        <div>
            <div class="image" style="background-color:rgba(137, 43, 226, 0.772);">
            <img src="electricite.png" alt=""></div>
        </div>
        <h3>Electricité</h3>
    </div>
    <div class="service_card">
        <div>
            <div class="image">
            <img src="house_cleaning.png" alt=""></div>
        </div>
        <h3>Netoyyage</h3>
    </div>
</div>
</div>
