/* Centrer le formulaire sur la page */
.formulaire {
    display: block;
  }
  h1 {
    margin-left: 40%;
    color: #333;
  }
  .ligne {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
  }
  form {
    padding-left: 30%;
    max-width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Styles généraux pour les labels */
  form label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    margin-left: 5%;
  }
  
  /* Styles généraux pour les champs d'entrée */
  form input, form textarea, form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
  }
.imgvid {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 5%;
  margin-bottom: 10%;
  margin-top: 5%;
}
.delete {
    display: block;
    height: 200px;
    width: 100%;
    display: grid;
}
.delete > img,video {
    height: 150px;
    width: 100%;
}
.delete > i{
    padding-top: 10px;
    padding: 6px;
    text-align: center;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
    color: white;
    margin-left: 40%;
    height: 20px;
    width: 30px;
  }
  /* Bouton de soumission */
  .buttons {
    margin-top: 5%;
    display: grid;
    width: 30%;
    grid-template-columns: 50% 50%;
  }
  form button[type="submit"] {
    width:90%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color:green;
  }
  
  /* Espacement entre les champs */
  form input[type="file"] {
    margin-bottom: 15px;
  }
  
  /* Ajouter un focus stylé pour les champs d'entrée */
  form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 5px #333;
  }
  
  /* Styles pour rendre les éléments responsives */
  @media (max-width: 600px) {
    form {
      width: 100%;
      padding: 15px;
    }
  
    form button[type="submit"] {
      font-size: 14px;
    }
  }