<h1>Distingués cette semaine : Nos employés les plus appréciés</h1>
<div class="workers">
    <div class="worker">
        <img src="best_worker1.jpg" alt="image1">
        <h2>Mohamed</h2>
        <p>Plombier</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>sfax</p>
            <button>Voir profile</button> 
    </div>
    <div class="worker">
        <img src="best_worker1.jpg" alt="image1">
        <h2>Mohamed</h2>
        <p>Plombier</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>sfax</p>
            <button>Voir profile</button> 
    </div>
    <div class="worker">
        <img src="best_worker1.jpg" alt="image1">
        <h2>Mohamed</h2>
        <p>Plombier</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>sfax</p>
            <button>Voir profile</button> 
    </div>
</div>