<h1>Distingués cette semaine : Nos employés les plus appréciés</h1>
<div class="workers">
    <div class="worker">
        <img src="best_worker1.jpg" alt="image1">
        <h2>Mohamed</h2>
        <p>Plombier</p>
        <p style="color: grey;"><i class="fas fa-map-marker-alt" style="margin-right: 10px;color: grey;" ></i>Tunis</p>
            <button><i class="fa fa-eye" style="margin-right: 5px;"></i>Voir profile</button> 
    </div>
    <div class="worker">
        <img src="best_worker1.jpg" alt="image1">
        <h2>Mohamed</h2>
        <p>Plombier</p>
        <p style="color: grey;"><i class="fas fa-map-marker-alt" style="margin-right: 10px;color: grey;"></i>Sfax</p>
            <button><i class="fa fa-eye" style="margin-right: 5px;"></i>Voir profile</button> 
    </div>
    <div class="worker">
        <img src="best_worker1.jpg" alt="image1">
        <h2>Mohamed</h2>
        <p>Plombier</p>
        <p style="color: grey;"><i class="fas fa-map-marker-alt" style="margin-right: 10px;color: grey;" ></i>Tunis</p>
            <button><i class="fa fa-eye" style="margin-right: 5px;"></i>Voir profile</button> 
    </div>
</div>