<nav class="navbar">
    <div class="navbar-left">
      <a routerLink="" routerLinkActive="active" class="site-name">MultiServices</a>
    </div>
    <div class="navbar-right">
      <div class="navbar-links">
        <a routerLink="/home" routerLinkActive="active">Accueil</a>
        <a routerLink="/profiles" routerLinkActive="active">Services</a>
        <a routerLink="/aide" routerLinkActive="active">Aide</a>
        <img *ngIf="isAuthenticated()" [src]="'http://localhost:5239/' + currentUser.profilePhotoUrl" alt="{{ currentUser.name }}" routerLink="/userprofile" > 
        <a  *ngIf="!isAuthenticated()" routerLink="/register" routerLinkActive="active" class="btn-signup">Sign Up</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
