<div class="temoignages">
<h1>Témoignages</h1>
<div class="testimonials">
  <div class="card1">
    <img src="quote.png" alt="">
    <p>J'ai vraiment recommencdé MultiServices , grace a ce site j'ai eu la chance de gagner plusieurs clients</p>
    <div class="image">
    <img src="femme1.jpg" alt="">
    <p>Maîtresse</p>
    </div>
  </div>
  <div class="card2">
    <img src="quote.png" alt="">
    <p>Je recommande MultiServices ! c'est un site qui me permet à chaque fois de trouver le meilleur expert pour mon besoin</p>
    <div class="image">
    <img src="homme1.jpg" alt="">
    <p>Utilisateur</p>
    </div>
  </div>
  <div class="card1">
    <img src="quote.png" alt="">
    <p>J'ai vraiment recommencdé MultiServices , grace a ce site j'ai eu la chance de gagner plusieurs clients</p>
    <div class="image">
    <img src="femme2.jpg" alt="">
    <p>Infirmière</p>
    </div>
  </div>
</div>
</div>