<div class="temoignages">
<h1>Témoignages</h1>
<div class="testimonials">
  <div class="card1">
    <img src="quote.png" alt="">
    <p>J'ai vraiment recommencdé MultiServices , grace a ce site j'ai eu la chance de gagner plusieurs clients</p>
    <div class="image">
    <img src="person.png" alt="">
    <p>Jardinier</p>
    </div>
  </div>
  <div class="card2">
    <img src="quote.png" alt="">
    <p>J'ai vraiment recommencdé MultiServices , grace a ce site j'ai eu la chance de gagner plusieurs clients</p>
    <div class="image">
    <img src="person.png" alt="">
    <p>Jardinier</p>
    </div>
  </div>
  <div class="card1">
    <img src="quote.png" alt="">
    <p>J'ai vraiment recommencdé MultiServices , grace a ce site j'ai eu la chance de gagner plusieurs clients</p>
    <div class="image">
    <img src="person.png" alt="">
    <p>Jardinier</p>
    </div>
  </div>
</div>
</div>