<div class="use_part">
<h1>Comment nous allons vous aider ?</h1>
<div class="use">
    <div class="card">
        <img src="find_job.png" alt=""> <br>
        <h4>Trouver un travail</h4>
        <p>
            Faire un compte on donnant vos cordonnées ainsi que une description détaillé a propos le travail que vous fait ; 
        </p>
    </div>
    <div class="card">
        <img src="find_worker.png" alt=""> <br>
        <h4>Trouver un expert pour votre besoin</h4>
        <p>
            Chercher l'expert on donnant des mots clés a propos le service que vous avez besoin ; visieter leur profile l'appeler et n'oublier pas a laisser votre avis a propos cet employé
        </p>
    </div>
</div>
</div>