<div class="welcome">
    <div class="text">
        <h1>Votre besoin , notre mission </h1>
        <h6>Simplifiez votre recherche, <br> trouvez l'expert idéal, avec des avis que vous pouvez croire</h6>
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Chercher un Expert</span>
          </button>
          
    </div>
    <img src="wlc.png" alt="">
</div>
<div class="about">
    <h1>+1000 <br> Utilisateur</h1>
    <h1>+15 <br> Catégorie</h1>
    <h1>+100 <br> Expert</h1>
</div>